dash == 2.18.2
dash_leaflet == 1.0.15
dash-bootstrap-components == 1.6.0
dash-core-components == 2.0.0
dash-extensions == 1.0.18
dash-html-components == 2.0.0
dash-table == 5.0.0
gunicorn == 23.0.0
pandas == 2.2.3
plotly == 5.24.1
prometheus-client == 0.21.0
yarl == 1.17.1